<% if stock %>
    <div class="stock span3" style="width:200px;">
      <%= link_to stock_path(stock.stock_symbol) do %><h3><%= stock.stock_symbol %></h3><% end %>
      <div style="height:40px;"><h5><%= stock.company_name %></h5></div>
    </div>
<% end %>