<!-- Stocks Show Page -->
<div class="container-fluid">
  <h1><%= @stock_quote.name %> (<%= @stock.stock_symbol  %>)</h1>

  <%= render 'shared/stock_chart', stock_symbol: @stock.stock_symbol %>
  <div id="stock_chart"></div>

  <h4>Orders with these stocks:</h4>
  <table class="table table-hover">
    <th>Client</th><th>Stock</th><th>Buy/Sell</th><th>Order Type</th><th>Num. Shares</th>
    <th>PPS</th><th>Stock Cost</th><th>Employee</th><th>Transaction Fee</th><!--<th>Completed</th>-->
    <% @orders.each do |o|  %>
        <tr><%= render 'orders/order_table', order: o %></tr>
    <% end %>
  </table>
</div>