<% if current_user?(@client) %>
    <h1>Welcome <%= @client.first_name %></h1>
<% else %>
    <h1>Welcome to <%= @client.first_name %>'s</h1>
<% end %>
<h2>Clients Home Page</h2>

<!-- This it the link to make a new order -->
<%= link_to 'Buy or Sell Stock', orders_path(current_user) %>

<!-- TODO: set up if manager or employee is logged view button-->

<br>

<%= link_to edit_user_path(params[:id]) do %>

    <button class="btn btn-info">Edit User Info</button>
<% end %>

