// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.employee-row{
  padding-bottom: 10px ;
  padding-top: 10px;
  padding-left: 5px;
}
div.mailingList > div:nth-child(odd) {
  background-color: #f5f5ef;
}
.row {
  margin-bottom: 5px;
  margin-top: 5px;
}
.span3{
  margin-bottom: 5px;
  margin-top: 5px;
}